<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsms.mybatis.mapper.QuestionMapper">
	<select id="selectListQuestion" resultType="Question">
		SELECT
		     A.QST_ID
		    ,A.QST_TITLE
		    ,A.QST_PATTERN
		    ,A.CTG_ID
		    ,B.CTG_NAME
		    ,A.QST_FILE_ID
		    ,C.FILE_NAME AS QST_FILE_NAME
		    ,A.CMNT_FILE_ID
		    ,C2.FILE_NAME AS CMNT_FILE_NAME
		    ,A.QST_TYPE_CODE
		    ,G.CODE_NAME AS QST_TYPE_NAME
		    ,A.ANSWER_KIND_CODE
		    ,E.CODE_NAME AS ANSWER_KIND_NAME
		    ,A.DISPLAY_TYPE_CODE
		    ,F.CODE_NAME AS DISPLAY_TYPE_NAME
		    ,A.DFCLT_LEVEL_CODE
		    ,D.CODE_NAME AS DFCLT_LEVEL_NAME 
		    ,A.ANSWER
		    ,A.COMMENT
		    ,COUNT(*) OVER() CNT
		FROM COM_QUESTION A
		JOIN (
			WITH RECURSIVE T3
			(CTG_ID, CTG_NAME, CTG_LEVEL, PARENT_CTG_ID) AS
			(
			SELECT T1.CTG_ID, T1.CTG_NAME, T1.CTG_LEVEL, T1.PARENT_CTG_ID
			FROM COM_CATEGORY T1
			WHERE T1.CTG_ID = #{ctgId}
			AND USE_YN = 'Y'
		
			UNION ALL
		
			SELECT T2.CTG_ID, T2.CTG_NAME, T2.CTG_LEVEL, T2.PARENT_CTG_ID
			FROM COM_CATEGORY T2
			INNER JOIN T3 ON T2.PARENT_CTG_ID = T3.CTG_ID
			)
			SELECT * FROM T3
		) B
		ON B.CTG_ID = A.CTG_ID
		JOIN COM_FILE C
		ON C.FILE_ID = A.QST_FILE_ID
		LEFT OUTER JOIN COM_FILE C2
		ON C2.FILE_ID = A.CMNT_FILE_ID
		LEFT OUTER JOIN COM_CODE D
		ON D.CODE_ID = A.DFCLT_LEVEL_CODE AND D.GROUP_CODE_ID='DFCLVL' /*난이도*/
		LEFT OUTER JOIN COM_CODE E
		ON E.CODE_ID = A.ANSWER_KIND_CODE AND E.GROUP_CODE_ID='ANSKND' /*답유형*/
		LEFT OUTER JOIN COM_CODE F
		ON F.CODE_ID = A.DISPLAY_TYPE_CODE AND F.GROUP_CODE_ID='DPYTYP' /*표시타입*/
		LEFT OUTER JOIN COM_CODE G
		ON G.CODE_ID = A.QST_TYPE_CODE AND G.GROUP_CODE_ID='QSTTYP' /*문제타입*/
		WHERE 1=1
		AND A.USE_YN ='Y'
		ORDER BY QST_ID DESC
		<if test='allYn != "Y"'>
		limit ${pageNum},10
		</if> 
		
	</select>
	<insert id="insertQuestion">
		INSERT INTO COM_QUESTION
		(
			QST_ID,
			QST_TITLE,
			QST_PATTERN,
			ANSWER,
			COMMENT,
			CTG_ID,
			QST_FILE_ID,
			CMNT_FILE_ID,
			QST_TYPE_CODE,
			ANSWER_KIND_CODE,
			DISPLAY_TYPE_CODE,
			DFCLT_LEVEL_CODE,
			USE_YN
		)
		VALUES
		(
		    #{qstId},#{qstTitle},#{qstPattern},#{answer},#{comment},#{ctgId},#{qstFileId},
		    #{cmntFileId},#{qstTypeCode},#{answerKindCode},#{displayTypeCode},#{dfcltLevelCode}
		    ,'Y'
		) ON DUPLICATE KEY UPDATE
			QST_TITLE = #{qstTitle},
			QST_PATTERN = #{qstPattern},
			ANSWER = #{answer},
			COMMENT = #{comment},
			CTG_ID = #{ctgId},
			QST_FILE_ID = #{qstFileId},
			CMNT_FILE_ID = #{cmntFileId},
			QST_TYPE_CODE = #{qstTypeCode},
			ANSWER_KIND_CODE = #{answerKindCode},
			DISPLAY_TYPE_CODE = #{displayTypeCode},
			DFCLT_LEVEL_CODE = #{dfcltLevelCode}
	</insert>

</mapper>